* {
  margin: 0;
  padding: 0;
}

/*map*/
#map {
  height: 600px;
  width: 100%;
  background-color: grey;
}

/*navbar start*/

.container-fluid {
  background: #fdecdc;
  color: #293b61;
}

nav .navbar-brand {
  text-decoration: none;
  color: #293b61;
}
.navbar-toggler-icon {
  color: #293b61;
  font-size: 40px;
  margin-top: 10px;
}
.navbar-nav .nav-item .nav-link {
  text-decoration: none;
  color: #293b61;
  font-weight: 500;
  font-size: 16px;
}
.navbar-nav .nav-item .active {
  color: #ff993d;
}
.navbar-nav .nav-item .nav-link:hover {
  color: #ff993d;
}
.nav form .form-control {
  background: transparent;
  outline: none;
}

/*navbar end*/

/*home-page start*/
.carousel-item {
  height: 32rem;
}

#mission {
  color: #293b61;
}

.homepage h6 {
  color: #3a548a;
  padding-top: 120px;
  font-weight: 400;
}
.homepage h1 {
  font-size: 45px;
}
.homepage p {
  font-family: arial;
  letter-spacing: 1px;
  padding-top: 20px;
  color: #3a548a;
}

.btn-lg {
  color: #293b61;
  border-color: #ff993d;
  background-color: #ff993d;
  height: 4rem;
  width: 12rem;
}

.btn-outline {
  color: #293b61;
  border-color: #ff993d;
  background-color: #ff993d;
}

.btn-outline:hover {
  color: #293b61;
  border-color: #ff993d;
}

/*home-page end*/

/*about-page start*/

.about {
  background: #fdecdc;
}
.about h5 {
  color: #293b61;
  font-weight: 400;
}
.about .box {
  background: #293b61;
  border-radius: 10px;
}
.about .row p {
  color: #ffffff;
  font-family: arial;
  line-height: 30px;
  letter-spacing: 1px;
}

.about h3 {
  color: #ffffff;
}
@media (max-width: 770px) {
  .about .row .box {
    margin-top: 20px;
  }
}

/*about-page end*/

/*service-page start*/

.service .box {
  background: #fdecdc; /*26243c*/
  border-radius: 10px;
  cursor: pointer;
}
.service .box h4 ion-icon {
  font-size: 40px;
  text-align: center;
  color: #ff993d;
  background: #293b61;
  border-radius: 50%;
  padding: 20px;
  transition: 0.5s;
}
.service .box h5 ion-icon {
  font-size: 40px;
  text-align: center;
  color: #293b61;
}
.service .box p {
  font-size: 18px;
  line-height: 30px;
}
.service .box:hover h4 ion-icon {
  background: #ff993d;
  color: #293b61;
  transform: rotate(360deg);
}
@media (max-width: 770px) {
  .service .row .box {
    margin-top: 20px;
  }
}

/*service-page end*/

/*blog-page start*/

.blog {
  background: #fdecdc;
}
.blog .row .box {
  background: #293b61;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.5s;
  cursor: pointer;
  color: white;
}
.blog .row .box h3 {
  font-family: arial;
  font-weight: bold;
  transition: 0.5s;
}
.blog .row .box:hover h3 {
  cursor: pointer;
  color: #ff993d;
}
@media (max-width: 770px) {
  .blog .row .box {
    margin-top: 20px;
  }
}

/*blog-page end*/

/*contactus-page start*/

.content-section form input {
  background: #fdecdc;
  height: 50px;
}
.content-section form label {
  font-family: arial;
  font-size: 18px;
}
.content-section {
  padding: 10px 20px;
  /* border: 1px solid #dddddd;
    border-radius: 3px; */
  margin-bottom: 20px;
}

/* .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  } */

/*contactus-page end*/

/*footer-page start*/

.footer {
  background: #fdecdc;
}
.footer p a {
  text-decoration: none;
  color: #ff993d;
  font-weight: bold;
}

/*footer-page end*/

/*scroll*/

.top {
  font-size: 50px;
  position: fixed;
  left: 20px;
  color: #fff;
  top: calc(100% - 100px);
  border-radius: 50%;
  transition: 0.5s;
  opacity: 1;
}
.top:hover {
  color: #fff;
  opacity: 1;
}

/*drop down menu*/
/*li {*/
/*    display: list-item;*/
/*    text-align: -webkit-match-parent;*/
/*}*/

/*.dropdown-menu {*/
/*  top: 100%;*/
/*  left: 0;*/
/*  z-index: 1000;*/
/*  min-width: 10rem;*/
/*  padding: .5rem 0;*/
/*  margin: .125rem 0 0;*/
/*  font-size: 1rem;*/
/*  color: #212529;*/
/*  text-align: left;*/
/*  list-style: none;*/
/*  background-color: #fff;*/
/*  background-clip: padding-box;*/
/*  border: 1px solid rgba(0, 0, 0, .15);*/
/*  border-radius: .25rem;*/
/*}*/

/*.dropdown-item {*/
/*  display: block;*/
/*  width: 100%;*/
/*  padding: .25rem 1.5rem;*/
/*  clear: both;*/
/*  font-weight: 400;*/
/*  color: #212529;*/
/*  text-align: inherit;*/
/*  white-space: nowrap;*/
/*  background-color: transparent;*/
/*  border: 0;*/
/*}*/
/*.ml-auto{*/
/*    margin-right: 0; !important;*/
/*}*/

/*.dropdown-toggle {*/
/*    white-space: nowrap;*/
/*}*/

/*.dropdown{*/
/*      position: relative;*/
/*}*/
