{% extends "base.html" %}
{% block content %}
    <div class="container px-4 py-4" id="featured-3">
    <center><h1 class="pb-2 border-bottom">Continuous Integration and Deployment</h1></center>

  </div>

  <div class="container px-4 py-5" id="featured-3">

<h2>What is CI/CD?</h2>
      <p>  CI/CD stands for Continuous Integration and Continuous Deployment. It is simply automate the testing and the deployment. In the past the development and the deployment cycle took a lot of effort and time of developers to develop the software and deploy it into production or the live environment. The process in the past not only takes lots of time but also comes up with lots of human intervention and as a result lots of human errors arrive.
</p>

  <h2>Deploying with GitHub Actions</h2>
      <h4>Development workflows</h4>
      <ul>
          <li>
              <p>Trigger my deployment. It runs whenever there are pull requests </p>
                <center><img src="../../static/images/dev-on.jpg"></center>

          </li>
          <li>
              <p>Set up jobs for development workflows. A job is a set of steps in a workflow that execute on the same runner.</p>
              <p>Before merging pull requests, the code is reviewed with the jobs run_pytest and deploy_heroku. Both jobs run on the runner ubuntu-latest. A runner is a server that runs your workflows when they're triggered. The job deploy_heroku will deploy to Heroku dev app</p>
                              <center><img src="../../static/images/dev-job.jpg"></center>
                            <p>In your newly created Github repository, add new repository secrets for DOCKER_USERNAME, DOCKER_PASSWORD, HEROKU_API_KEY (Values are DOCKER_USERNAME: your docker hub username; DOCKER_PASSWORD: your docker hub password; HEROKU_API_KEY: API key from the heroku app)</p>
              <p>GitHub Notes: Set the action secrets repository in: -> settings -> actions -> secrets</p>
              <p>Create an account with Heroku, create an app for production and an app for development and add the information of heroku app name and heroku email</p>
              <p>Heroku Notes: Get the heroku API key from account in: -> applications -> create authorization button</p>
                            <p>Create a repository on Docker Hub. Add your images under "Extract metadata (tags, labels) for Docker" </p>

          </li>
      </ul>

  <p>
  </p>

        <h4>Production workflows</h4>
      <ul>
          <li>
              <p>Trigger my deployment. It runs whenever there are pushes to project, push to branch master </p>
                <center><img src="../../static/images/prod-on.jpg"></center>

          </li>
          <li>
              <p>Set up jobs for production workflows. A job is a set of steps in a workflow that execute on the same runner.</p>
              <p>In the production workflow, there are jobs run_pytest, build-container and deploy. All jobs run on the runner ubuntu-latest. A runner is a server that runs your workflows when they're triggered.</p>
              <center><img src="../../static/images/prod-job-runtests.jpg"></center>
              <p>In your newly created Github repository, add new repository secrets for DOCKER_USERNAME, DOCKER_PASSWORD, HEROKU_API_KEY (Values are DOCKER_USERNAME: your docker hub username; DOCKER_PASSWORD: your docker hub password; HEROKU_API_KEY: API key from the heroku app)</p>
              <p>GitHub Notes: Set the action secrets repository in: -> settings -> actions -> secrets</p>
              <p>Create an account with Heroku, create an app for production and an app for development and add the information of heroku app name and heroku email</p>
              <p>Heroku Notes: Get the heroku API key from account in: -> applications -> create authorization button</p>
                            <p>Create a repository on Docker Hub. Add your images under "Extract metadata (tags, labels) for Docker" </p>

              <h6>build-container</h6>
                              <center><img src="../../static/images/prod-job-buildcontainer.jpg"></center>
              <h6>deploy</h6>
                              <center><img src="../../static/images/prod-job-deploy.jpg"></center>
          </li>
      </ul>




  </div>


{% endblock %}