{% extends "base.html" %}
{% block content %}
<div class="container px-4 py-4" id="featured-3">
    <center><h1 class="pb-2 border-bottom">Basics of Git</h1></center>

  </div>

  <div class="container px-4 py-5" id="featured-3">

      <div class="row g-0">
        <div class="col-md-8">
            <div class="card mb-3" style="max-width: 700px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="../../static/images/git-branches.png" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Git Branch</h5>
                      <p class="card-text">A branch represents an independent line of development. Branches serve as an abstraction for the edit/stage/commit process.</p>

                        <a href="{{ url_for('simple_pages.show', page="git-branch")}}" class="stretched-link"></a>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-4 "></div>
                        <div class="col-md-8 ">
                            <img src="../../static/images/git-branches.png" class="img-fluid rounded-start" alt="...">
                          </div>
                  </div>
              </div>




                 <div class="col-md-8">
            <div class="card mb-3" style="max-width: 700px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="../../static/images/git-branches.png" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                          <h5 class="card-title">Git Merge</h5>
                          <p class="card-text">Git merge will combine multiple sequences of commits into one unified history. In the most frequent use cases, git merge is used to combine two branches.</p>
                          <a href="{{ url_for('simple_pages.show', page="git-merge")}}" class="stretched-link"></a>


                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-4 "></div>
                        <div class="col-md-8 ">
                            <img src="../../static/images/git-branches.png" class="img-fluid rounded-start" alt="...">
                          </div>
                  </div>
              </div>




                  <div class="col-md-8">
            <div class="card mb-3" style="max-width: 700px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="../../static/images/git-branches.png" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Git Branch</h5>
                      <p class="card-text">A branch represents an independent line of development. Branches serve as an abstraction for the edit/stage/commit process.</p>

                        <a href="{{ url_for('simple_pages.show', page="git-commit")}}" class="stretched-link"></a>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-4 "></div>
                        <div class="col-md-8 ">
                            <img src="../../static/images/git-branches.png" class="img-fluid rounded-start" alt="...">
                          </div>
                  </div>
              </div>



                  <div class="col-md-8">
            <div class="card mb-3" style="max-width: 700px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="../../static/images/git-branches.png" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Git Branch</h5>
                      <p class="card-text">A branch represents an independent line of development. Branches serve as an abstraction for the edit/stage/commit process.</p>

                        <a href="{{ url_for('simple_pages.show', page="git-tags")}}" class="stretched-link"></a>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-4 "></div>
                        <div class="col-md-8 ">
                            <img src="../../static/images/git-branches.png" class="img-fluid rounded-start" alt="...">
                          </div>
                  </div>
              </div>



                  <div class="col-md-8">
            <div class="card mb-3" style="max-width: 700px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="../../static/images/git-branches.png" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Git Branch</h5>
                      <p class="card-text">A branch represents an independent line of development. Branches serve as an abstraction for the edit/stage/commit process.</p>

                        <a href="{{ url_for('simple_pages.show', page="git-repository")}}" class="stretched-link"></a>
                    </div>
                  </div>

                </div>
              </div>

            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-4 "></div>
                        <div class="col-md-8 ">
                            <img src="../../static/images/git-branches.png" class="img-fluid rounded-start" alt="...">
                          </div>
                  </div>
              </div>



          </div>




  </div>



{% endblock content %}
